import { program } from 'commander';
import { ByeCommand } from './commands/bye.command.js';
import { HelloCommand } from './commands/hello.command.js';

program.name('<%- className %> CLI').description('CLI tool').version('<%- mp.version %>');

new HelloCommand().bind(program);

new ByeCommand().bind(program);

program.parse();
