import { Command } from 'commander';

export type HelloOptions = {
  name: string;
};

export class HelloCommand {

  bind(program: Command) {
    program
      .command('hello')
      .description('Ssay hello')
      .requiredOption('-n,--name <string> what is your name?')
      .action(this.run);
  }

  run(options: HelloOptions) {
    console.log(`Hello, ${options.name}`);
  }
}
