{
  "minify": true,
  "jsc": {
    "minify": {
      "mangle": true,
      "keep_classnames": true,
      "keep_fnames": true,
      "compress": true
    },
    "target": "es2017",
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "externalHelpers": true,
    "loose": true
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true,
  "exclude": [
    "vite.config.ts",
    "eslint.config.mjs",
    ".*\\.spec.tsx?$",
    ".*\\.test.tsx?$",
    ".*.js$"
  ]
}
